# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
.env
dist/
*.db
*.db-shm
*.db-wal
env/
venv/
.venv/
ENV/
.env
.env.*

# Node
node_modules/
frontend/dist/
frontend/.env

# Playwright
/ms-playwright/

# Celery
celerybeat-schedule
celerybeat.pid

# IDE
.idea/
.vscode/
*.swp
.DS_Store
